body {
  background:  #0B0B09;
  display: flex;
  justify-content: center;
}

.wrapped {
  max-width: 800px;
  margin: 40px;
  width: 100%;
}

.container {
  background: #fff;
}

.container, .navbar {
  padding: 20px 200px;
}

.navbar {
  align-items: center;
  background-color: #394032;
  color: white;
  display: flex;
  justify-content: space-between;
}
  .navbar a {
    color: white;
    text-decoration: none;
  }
